@page
@model GruppeProjekt.Pages.Burgere.DeleteBurgerModel

@{
}


<h1> Slet en kunde </h1>

<form method="post">
    <div class="form-group>">
        <label>Burger pris</label> : @Model.Burger.Pris<br />
        <br />
        <label>Burger navn</label> : @Model.Burger.Navn<br />
        <br />
        <label>Burger størrelse</label>  : @Model.Burger.Størrelse<br />
        <br />
    </div>
</form>